<div id="customerRegisterTab" class="tab">
  <div class="customer-form">
    <form (submit)="next()" [formGroup]="customerForm" fxLayout="column">
      <div fxFlex="100" fxLayoutGap="16px">
        <mat-form-field fxFlex="35" appearance="outline">
          <mat-label>Razão Social</mat-label>
          <input matInput placeholder="Nome" formControlName="corporateName" />
        </mat-form-field>
        <mat-form-field fxFlex="35" appearance="outline">
          <mat-label>Razão Social</mat-label>
          <input matInput placeholder="Nome" formControlName="corporateName" />
        </mat-form-field>
        <mat-form-field fxFlex="30" appearance="outline">
          <mat-label>Razão Social</mat-label>
          <input matInput placeholder="Nome" formControlName="corporateName" />
        </mat-form-field>
      </div>

      <div fxFlex="100" fxLayoutGap="16px">
        <mat-form-field fxFlex="50" appearance="outline">
          <mat-label>CEP</mat-label>
          <input matInput placeholder="Nome" formControlName="corporateName" />
        </mat-form-field>
        <mat-form-field fxFlex="50" appearance="outline">
          <mat-label>Razão Social</mat-label>
          <input matInput placeholder="Nome" formControlName="corporateName" />
        </mat-form-field>
      </div>

      <div fxFlex="100" fxLayoutGap="16px">
        <mat-form-field fxFlex="25" appearance="outline">
          <mat-label>Razão Social</mat-label>
          <input matInput placeholder="Nome" formControlName="corporateName" />
        </mat-form-field>
        <mat-form-field fxFlex="20" appearance="outline">
          <mat-label>Razão Social</mat-label>
          <input matInput placeholder="Nome" formControlName="corporateName" />
        </mat-form-field>
        <mat-form-field fxFlex="15" appearance="outline">
          <mat-label>Razão Social</mat-label>
          <input matInput placeholder="Nome" formControlName="corporateName" />
        </mat-form-field>
        <mat-form-field fxFlex="40" appearance="outline">
          <mat-label>Razão Social</mat-label>
          <input matInput placeholder="Nome" formControlName="corporateName" />
        </mat-form-field>
      </div>

      <div fxFlex="100" fxLayoutGap="16px">
        <mat-form-field fxFlex="40" appearance="outline">
          <mat-label>Razão Social</mat-label>
          <input matInput placeholder="Nome" formControlName="corporateName" />
        </mat-form-field>
        <mat-form-field fxFlex="35" appearance="outline">
          <mat-label>Razão Social</mat-label>
          <input matInput placeholder="Nome" formControlName="corporateName" />
        </mat-form-field>
        <mat-form-field fxFlex="25" appearance="outline">
          <mat-label>Razão Social</mat-label>
          <input matInput placeholder="Nome" formControlName="corporateName" />
        </mat-form-field>
      </div>
    </form>
  </div>
</div>
