
.navigation-buttons{
  margin-top: 150px;
  max-width: 900px;
}

#customerContactTab {
  max-width: 100%;
}

table {
  width: 100%;
}
// .add-button {
//   height: 50px;
//   margin-top: 5px;
// }
.edit-button {
  height: 50px;
  margin-top: 5px;
}


.mat-icon {
  margin-top: 6px;
  // width: 150px !important;
  width: 100% !important;
  size: 50px;
}

.delete-icon {
  margin-right: 10px !important;
}

.edit-icon{
 margin-right: 10px !important;
}

