#customerContactTab {
  max-width: 1650px;
  width: 100%;

  .title-dialog {
    margin-left: 140px;
  }
  .content-scroll {
    overflow: auto;
    height: calc(100vh - 300px);
  }

  .envolti-table {
    margin-top: 20px;
    overflow: auto;
    max-height: 320px;
    width: 100%;
    border-radius: 10px;

    .mat-column-icon {
      width: 50px;
    }

    .button-tab {
      white-space: nowrap;
      overflow: hidden;
    }
  }

  table {
    width: 100%;
  }
  // .add-button {
  //   height: 50px;
  //   margin-top: 5px;
  // }
  .edit-button {
    height: 50px;
    margin-top: 0px;
    margin-right: 12px !important;
  }

  .mat-icon {
    width: 100% !important;
    size: 50px;
  }

  .delete-icon {
    margin-right: 10px !important;
  }

  .edit-icon {
    margin-right: 10px !important;
  }
}

#customerContactDialog {
  max-height: 530px ;
  height: 100%;
  overflow: hidden;

  .dialog-content{
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }

  h2{
    color: white !important;
    padding-top: 20px !important;
    padding-left: 35px;
  }

  .content-header{
      background-color: #208fd8;
      height: 100% !important;
      height: 70px !important;
  }

  .mat-icon-content{
    color: white !important;
    margin-left: 230px !important;
    margin-top: 15px;
  }

  .button-dialog{
    margin-left: 120px
  }

  
}
