<div id="customerRegisterTab" class="tab">
  <div class="content-scroll">
    <form (submit)="next()" [formGroup]="customerForm" *ngIf="customerForm" fxLayout="column">
      <div fxFlex="100" fxLayoutGap="16px">
        <mat-form-field fxFlex="30" appearance="outline">
          <mat-label>{{ "customer.customer-register.corporate_name" | translate }}</mat-label>
          <input matInput placeholder="Razão Social" formControlName="corporateName" />
          <mat-error *ngIf="
              customerForm &&
              customerForm.controls['corporateName'].hasError('required')
            ">
            {{ "customer.customer-mat-error.required-field" | translate }}
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="40" appearance="outline">
          <mat-label>{{ "customer.customer-register.fantasy_name" | translate }}</mat-label>
          <input matInput placeholder="Nome fantasia" formControlName="tradingName" />
          <mat-error *ngIf="
              customerForm && customerForm.controls['tradingName'].hasError('required')
            ">
            {{ "customer.customer-mat-error.required-field" | translate }}
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="20" appearance="outline">
          <mat-label>{{ "customer.customer-register.created-date" | translate }}</mat-label>
          <input matInput mask="00/00/0000" [showMaskTyped]="true" [dropSpecialCharacters]="false"
            placeholder="Data de criação" formControlName="birthDate" />
        </mat-form-field>
        <mat-checkbox fxFlex="10" color="primary" formControlName="inactive">{{ "customer.customer-register.inactive" |
          translate }}</mat-checkbox>
      </div>

      <div fxFlex="100" fxLayoutGap="16px">
        <mat-form-field fxFlex="40" appearance="outline">
          <mat-label>{{ "customer.customer-register.cnpj" | translate }}</mat-label>
          <input matInput placeholder="CNPJ" formControlName="cnpj" mask="00.000.000/0000-00" />
          <mat-error *ngIf="
              customerForm && customerForm.controls['cnpj'].hasError('required')
            ">
            {{ "customer.customer-mat-error.required-field" | translate }}
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="30" appearance="outline">
          <mat-label>{{ "customer.customer-register.state_registration" | translate }}</mat-label>
          <input matInput placeholder="Inscrição Estadual" formControlName="stateRegistration"
            mask="000.000.000||000.000.000.000||000.000.000.000-00" />
          <mat-error *ngIf="
              customerForm &&
              customerForm.controls['stateRegistration'].hasError('maxlength')
            ">
            {{ "customer.customer-mat-error.state-registration-too-large" | translate }}
          </mat-error>
          <mat-error *ngIf="
              customerForm &&
              customerForm.controls['stateRegistration'].hasError('minlength')
            ">
            {{ "customer.customer-mat-error.state-registration-too-small" | translate }}
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="30" appearance="outline">
          <mat-label>{{ "customer.customer-register.municipal_inscription" | translate }}</mat-label>
          <input matInput placeholder="Inscrição Municipal" formControlName="municipalRegistration"
            mask="000.000.000||000.000.000.000||000.000.000.000-00" />
          <mat-error *ngIf="  
              customerForm &&
              customerForm.controls['municipalRegistration'].hasError('maxlength')
            ">
            {{ "customer.customer-mat-error.municipal-registration-too-large" | translate }}
          </mat-error>
          <mat-error *ngIf="
              customerForm &&
              customerForm.controls['municipalRegistration'].hasError(
                'minlength'
              )
            "> {{ "customer.customer-mat-error.municipal-registration-too-small" | translate }}
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="100" fxLayoutGap="16px" formGroupName="Address">
        <mat-form-field fxFlex="20" appearance="outline">
          <mat-label>{{ "customer.customer-register.address.cep" | translate }}</mat-label>
          <input mask="99999-999" matInput placeholder="CEP" formControlName="zipCode" />
          <mat-icon matSuffix style="cursor: pointer" (click)="getAddress()">
            search
          </mat-icon>
        </mat-form-field>
        <mat-form-field fxFlex="30" appearance="outline">
          <mat-label>{{ "customer.customer-register.address.street" | translate }}</mat-label>
          <input matInput placeholder="Rua" formControlName="street" />
        </mat-form-field>
        <mat-form-field fxFlex="10" appearance="outline">
          <mat-label>{{ "customer.customer-register.address.number" | translate }}</mat-label>
          <input matInput placeholder="Número" formControlName="number" />
        </mat-form-field>
        <mat-form-field fxFlex="60" appearance="outline">
          <mat-label>{{ "customer.customer-register.address.complement" | translate }}</mat-label>
          <input matInput placeholder="Complemento" formControlName="complement" />
        </mat-form-field>
      </div>

      <div fxFlex="100" fxLayoutGap="16px">
        <mat-form-field fxFlex="25" appearance="outline" formGroupName="Address">
          <mat-label>{{ "customer.customer-register.address.state" | translate }}</mat-label>
          <input matInput placeholder="Estado" formControlName="state" />
        </mat-form-field>
        <mat-form-field fxFlex="20" appearance="outline" formGroupName="Address">
          <mat-label>{{ "customer.customer-register.address.city" | translate }}</mat-label>
          <input matInput placeholder="Cidade" formControlName="city" />
        </mat-form-field>

        <div formGroupName="Phone" fxFlex="100" fxLayoutGap="16px">
          <mat-form-field fxFlex="15" appearance="outline">
            <mat-label>{{ "customer.customer-register.phone.ddi" | translate }}</mat-label>
            <input matInput placeholder="DDI" formControlName="ddi" mask="+00" />
          </mat-form-field>

          <mat-form-field fxFlex="15" appearance="outline">
            <mat-label>{{ "customer.customer-register.phone.ddd" | translate }}</mat-label>
            <input matInput placeholder="DDD" formControlName="ddd" mask="(00)" />
          </mat-form-field>

          <mat-form-field fxFlex="70" appearance="outline">
            <mat-label>{{ "customer.customer-register.phone.phone_number" | translate }}</mat-label>
            <input matInput placeholder="Telefone" formControlName="phoneNumber" mask="0000-0000||00000-0000" />
          </mat-form-field>
        </div>

      </div>
      <div fxFlex="100" fxLayoutGap="16px">
        <mat-form-field fxFlex="50" appearance="outline">
          <mat-label>{{ "customer.customer-register.email" | translate }}</mat-label>
          <input matInput placeholder="Email" formControlName="mail" />
          <mat-error *ngIf="
              customerForm && customerForm.controls['mail'].hasError('email')
            ">
            {{ "customer.customer-mat-error.invalid-email" | translate }}
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="50" appearance="outline">
          <mat-label>{{ "customer.customer-register.site" | translate }}</mat-label>
          <input matInput placeholder="Site" formControlName="site" />
        </mat-form-field>
      </div>
    </form>
  </div>
</div>