<div id="customerRegisterTab" class="tab">
  <div class="content-scroll">
    <form (submit)="next()" [formGroup]="customerForm" *ngIf="customerForm" fxLayout="column">
      <div fxFlex="100" fxLayoutGap="16px">
        <mat-form-field fxFlex="30" appearance="outline">
          <mat-label>{{
            "customer.customer-register.corporate_name" | translate
            }}</mat-label>
          <input matInput placeholder="Razão Social" formControlName="corporateName" />
          <mat-error *ngIf="
              customerForm &&
              customerForm.controls['corporateName'].hasError('required')
            ">
            {{ "customer.customer-mat-error.required-field" | translate }}
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="40" appearance="outline">
          <mat-label>{{
            "customer.customer-register.fantasy_name" | translate
            }}</mat-label>
          <input matInput placeholder="Nome fantasia" formControlName="tradingName" />
          <mat-error *ngIf="
              customerForm &&
              customerForm.controls['tradingName'].hasError('required')
            ">
            {{ "customer.customer-mat-error.required-field" | translate }}
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="20" appearance="outline">
          <mat-label>{{
            "customer.customer-register.created-date" | translate
            }}</mat-label>
          <input matInput mask="00/00/0000" [showMaskTyped]="true" [dropSpecialCharacters]="false"
            placeholder="Data de criação" formControlName="birthDate" />
        </mat-form-field>


        <div class="checkbox">
          <mat-checkbox color="primary" class="custom-check" class="custom-frame" formControlName="inactive"
            fxLayoutAlign="center center">Inativo</mat-checkbox>
        </div>

        <!-- <mat-checkbox fxFlex="10" color="primary" formControlName="inactive">{{
          "customer.customer-register.inactive" | translate
        }}</mat-checkbox> -->
      </div>

      <div fxFlex="100" fxLayoutGap="16px">
        <mat-form-field fxFlex="40" appearance="outline">
          <mat-label>{{
            "customer.customer-register.cnpj" | translate
            }}</mat-label>
          <input matInput placeholder="CNPJ" formControlName="cnpj" mask="00.000.000/0000-00" />
          <mat-error *ngIf="
              customerForm && customerForm.controls['cnpj'].hasError('required')
            ">
            {{ "customer.customer-mat-error.required-field" | translate }}
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="30" appearance="outline">
          <mat-label>{{
            "customer.customer-register.state_registration" | translate
            }}</mat-label>
          <input matInput placeholder="Inscrição Estadual" formControlName="stateRegistration"
            mask="000.000.000||000.000.000.000||000.000.000.000-00" />
          <mat-error *ngIf="
              customerForm &&
              customerForm.controls['stateRegistration'].hasError('maxlength')
            ">
            {{
            "customer.customer-mat-error.state-registration-too-large"
            | translate
            }}
          </mat-error>
          <mat-error *ngIf="
              customerForm &&
              customerForm.controls['stateRegistration'].hasError('minlength')
            ">
            {{
            "customer.customer-mat-error.state-registration-too-small"
            | translate
            }}
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="30" appearance="outline">
          <mat-label>{{
            "customer.customer-register.municipal_inscription" | translate
            }}</mat-label>
          <input matInput placeholder="Inscrição Municipal" formControlName="municipalRegistration"
            mask="000.000.000||000.000.000.000||000.000.000.000-00" />
          <mat-error *ngIf="
              customerForm &&
              customerForm.controls['municipalRegistration'].hasError(
                'maxlength'
              )
            ">
            {{
            "customer.customer-mat-error.municipal-registration-too-large"
            | translate
            }}
          </mat-error>
          <mat-error *ngIf="
              customerForm &&
              customerForm.controls['municipalRegistration'].hasError(
                'minlength'
              )
            ">
            {{
            "customer.customer-mat-error.municipal-registration-too-small"
            | translate
            }}
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="100" fxLayoutGap="16px" formGroupName="Address">
        <mat-select-country appearance="outline" placeHolder="País" label="País"
          (onCountrySelected)="onCountrySelected($event)" [value]="defaultValue">
        </mat-select-country>

        <mat-form-field fxFlex="20" appearance="outline" *ngIf="searchEnabled === true">
          <mat-label>{{'generic.address.cep'|translate}} </mat-label>
          <input matInput placeholder="CEP" formControlName="cep" type="text" mask="99999-999" />
          <mat-icon matSuffix style="cursor: pointer" (click)="getAddress()">
            search
          </mat-icon>
          <mat-error *ngIf="addressForm &&
            addressForm.controls['cep'].hasError('required')">
            {{'validators.validator-required' | translate}} </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="20" appearance="outline" *ngIf="searchEnabled === false">
          <mat-label>{{'generic.address.zip_code'|translate}} </mat-label>
          <input matInput placeholder="Zip Code" formControlName="cep" type="text"
            mask="0||00||000||0000||00000||00000-0||00000-00||00000-000" />

        </mat-form-field>

        <mat-form-field fxFlex="25" appearance="outline">
          <mat-label>{{'generic.address.street'|translate}}</mat-label>
          <input matInput placeholder="Rua" formControlName="street" />
          <mat-error *ngIf="addressForm &&
            addressForm.controls['street'].hasError('required')">
            {{'validators.validator-required' | translate}}</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="15" appearance="outline">
          <mat-label>{{'generic.address.number'|translate}}</mat-label>
          <input type="number" matInput placeholder="Número" formControlName="number" />
          <mat-error *ngIf="addressForm &&
            addressForm.controls['number'].hasError('required')">
            {{'validators.validator-required' | translate}}
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="40" appearance="outline">
          <mat-label>{{'generic.address.complement'|translate}}</mat-label>
          <input matInput placeholder="Complemento" formControlName="complement" />
          <mat-error *ngIf="addressForm &&
            addressForm.controls['complement'].hasError('required')">
            {{'validators.validator-required' | translate}}</mat-error>
        </mat-form-field>
      </div>


      <div fxFlex="100" fxLayoutGap="16px" formGroupName="Address">
        <mat-form-field fxFlex="20" appearance="outline">
          <mat-label>{{'generic.address.district'|translate}}</mat-label>
          <input matInput placeholder="Bairro" formControlName="district" />
          <mat-error *ngIf="addressForm &&
          addressForm.controls['district'].hasError('required')">
            {{'validators.validator-required' | translate}}
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="40" appearance="outline">
          <mat-label>{{'generic.address.city'|translate}}</mat-label>
          <input matInput placeholder="Cidade" formControlName="city" />
          <mat-error *ngIf="addressForm &&
          addressForm.controls['city'].hasError('required')">
            {{'validators.validator-required' | translate}}
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="40" appearance="outline" *ngIf="this.view">
          <mat-label>{{'generic.address.state'|translate}}</mat-label>
          <mat-select matInput disableRipple placeholder="Estado" formControlName="state">
            <mat-option [value]="'AC'">{{'generic.address.state_list.AC'|translate}}</mat-option>
            <mat-option [value]="'AL'">{{'generic.address.state_list.AL'|translate}}</mat-option>
            <mat-option [value]="'AP'">{{'generic.address.state_list.AP'|translate}}</mat-option>
            <mat-option [value]="'AM'">{{'generic.address.state_list.AM'|translate}}</mat-option>
            <mat-option [value]="'BA'">{{'generic.address.state_list.BA'|translate}}</mat-option>
            <mat-option [value]="'CE'">{{'generic.address.state_list.CE'|translate}}</mat-option>
            <mat-option [value]="'DF'">{{'generic.address.state_list.DF'|translate}}</mat-option>
            <mat-option [value]="'ES'">{{'generic.address.state_list.ES'|translate}}</mat-option>
            <mat-option [value]="'GO'">{{'generic.address.state_list.GO'|translate}}</mat-option>
            <mat-option [value]="'MA'">{{'generic.address.state_list.MA'|translate}}</mat-option>
            <mat-option [value]="'MT'">{{'generic.address.state_list.MT'|translate}}</mat-option>
            <mat-option [value]="'MS'">{{'generic.address.state_list.MS'|translate}}</mat-option>
            <mat-option [value]="'MG'">{{'generic.address.state_list.MG'|translate}}</mat-option>
            <mat-option [value]="'PA'">{{'generic.address.state_list.PA'|translate}}</mat-option>
            <mat-option [value]="'PB'">{{'generic.address.state_list.PB'|translate}}</mat-option>
            <mat-option [value]="'PR'">{{'generic.address.state_list.PR'|translate}}</mat-option>
            <mat-option [value]="'PE'">{{'generic.address.state_list.PE'|translate}}</mat-option>
            <mat-option [value]="'PI'">{{'generic.address.state_list.PI'|translate}}</mat-option>
            <mat-option [value]="'RJ'">{{'generic.address.state_list.RJ'|translate}}</mat-option>
            <mat-option [value]="'RN'">{{'generic.address.state_list.RN'|translate}}</mat-option>
            <mat-option [value]="'RS'">{{'generic.address.state_list.RS'|translate}}</mat-option>
            <mat-option [value]="'RO'">{{'generic.address.state_list.RO'|translate}}</mat-option>
            <mat-option [value]="'RR'">{{'generic.address.state_list.RR'|translate}}</mat-option>
            <mat-option [value]="'SC'">{{'generic.address.state_list.SC'|translate}}</mat-option>
            <mat-option [value]="'SP'">{{'generic.address.state_list.SP'|translate}}</mat-option>
            <mat-option [value]="'SE'">{{'generic.address.state_list.SE'|translate}}</mat-option>
            <mat-option [value]="'TO'">{{'generic.address.state_list.TO'|translate}}</mat-option>
            <mat-option [value]="'Outro'">{{'generic.address.state_list.other'|translate}}</mat-option>
          </mat-select>
          <mat-error *ngIf="addressForm &&
          addressForm.controls['state'].hasError('required')">
            {{'validators.validator-required' | translate}}
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="45" appearance="outline" *ngIf="this.view === false">
          <mat-label>Estado</mat-label>
          <input matInput placeholder="Nome" formControlName="state" />
        </mat-form-field>
      </div>

      <div formGroupName="Phone" fxFlex="100" fxLayoutGap="16px">
        <mat-form-field fxFlex="15" appearance="outline">
          <mat-label>{{
            "customer.customer-register.phone.ddi" | translate
            }}</mat-label>
          <mat-select matInput disableRipple formControlName="ddi">
            <mat-option *ngFor="let ddi of ddi" [value]="ddi.id">{{ ddi.value }}</mat-option>
          </mat-select>
        </mat-form-field>



        <mat-form-field fxFlex="15" appearance="outline">
          <mat-label>{{
            "customer.customer-register.phone.ddd" | translate
            }}</mat-label>
          <input matInput placeholder="DDD" formControlName="ddd" mask="(00)" />
        </mat-form-field>

        <mat-form-field fxFlex="70" appearance="outline">
          <mat-label>{{
            "customer.customer-register.phone.phone_number" | translate
            }}</mat-label>
          <input matInput placeholder="Telefone" formControlName="phoneNumber" mask="0000-0000||00000-0000" />
        </mat-form-field>
      </div>

      <div fxFlex="100" fxLayoutGap="16px">
        <mat-form-field fxFlex="50" appearance="outline">
          <mat-label>{{
            "customer.customer-register.email" | translate
            }}</mat-label>
          <input matInput placeholder="Email" formControlName="mail" />
          <mat-error *ngIf="
              customerForm && customerForm.controls['mail'].hasError('email')
            ">
            {{ "customer.customer-mat-error.invalid-email" | translate }}
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="50" appearance="outline">
          <mat-label>{{
            "customer.customer-register.site" | translate
            }}</mat-label>
          <input matInput placeholder="Site" formControlName="site" />
        </mat-form-field>
      </div>
    </form>
  </div>
</div>